<div class="container justify-content-center">
  <h2>Stupid Coaching</h2>
  <%= @question %>
  <p class="font-italic">- You</p>
  <%= @answer %>
  <p class="font-italic">- Your Coach</p>

  <%= link_to "Ask another question!", ask_path %>
</div>
