<h1>STUPID COACHING</h1>
<h4>Ask Your Question!</h4>

<!-- The native behaviour of a <form> tag is to generate the HTTP request defined by the method and action attributes. -->
<!-- method attribute: holds the HTTP verb and is GET by default! -->
<!-- action attribute: specifies where(url) to send the data when a form is submitted. -->
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
