<div class="container align-text-center">
  <h2>Stupid Coaching</h2>
  <p class="font-italic">Ask your coach anything!</p>
  <div class="form-group">
    <form action="/answer">
      <input type="text" name="question" class="form-control-sm">
      <input type="submit" value="Ask!" class="btn btn-primary form-control-sm">
    </form>
  </div>
</div>
